.article {
    /* border: 1px solid #646FFF; */
    border-radius: 5px;
    color: white;
    background-color: rgba(184, 102, 184, 0.83);
    margin-top: 4px;
    text-align: center;
    
}
ul {
    text-align: left;
    padding-bottom: 5px;

}

.article.under {
    /*  padding-left: 10px;
    padding-right: 10px; */
    
    margin-top: 5px;
}
.articleHeader {
    font-family: 'PT sans', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
}
.profilePhoto {
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 50%;
    
}
#myName {
    font-size: 3em;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: gray;
    text-shadow: 2px 2px 4px #000000;
    
}

#intro {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: grey;
    padding-bottom: 4px;
}
nav {
    padding-bottom: 10px;
    text-align: center;
}
nav a {
    padding: 10px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}
body {
    background-color: lightgray;
    
}
article p {
    padding: 10px 200px 10px 200px;
    font-size: 1.5em;
}

.socialMedia {
    height: 100px;
    width: 100px;
    padding-right: 10px;
    text-align: center;
    border-radius: 50%;